{% extends 'layout.html' %}
{% block title %} All Books {% endblock title %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Access the VJTI Library Repository</h1>

    <div class="row">
        {% if books %}
            {% for book in books %}
                <div class="col-md-3 mb-4">
                    <div class="card book-card">
                        {% if book.image %}
                            <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }} Cover">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No books available.</p>
        {% endif %}
    </div>
</div>
{% endblock body %}
