{% extends "layout.html" %}
{% block title %} <title>{{ book.title}} Details</title>
{% endblock title %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ book.image.url }}" alt="{{ book.title }} Cover" style="height:80%; width:auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;">
        </div>
        <div class="col-md-8">
            <h2>{{ book.title }}</h2>
            <br>
            <h4><strong>ID:</strong> {{ book.book_id }}</h4>
            <h4><strong>Pages:</strong> {{ book.pagesCount }}</h4>
            <h4><strong>Author:</strong> {{ book.author }}</h4>
            <h4><strong>Price:</strong> ₹{{ book.price }}</h4>
            <br>
            <a class="btn btn-success" href="#" role="button">Reserve This Book</a>
            <br>
            <button type="button" class="btn btn-primary mt-3" onclick="goBack()">Go Back</button>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock body %}