{% extends "layout.html" %}
{%block title%} Home {%endblock title%}
{% block body %}

<div class="container-fluid py-5" style="margin-left: 40px;">
    <h1 class="display-5 fw-bold">VJTI Library</h1>
    <p class="col-md-8 fs-4">Get your hands on hundreds of books of our VJTI's library. Anytime and Anywhere</p>
    <a href="/AllBooks" class="btn btn-primary">Explore All Books</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4 h-100">
                <img src="static\Engineering\engineering-wallpaper.jpg" class="card-img-top"
                    alt="Engineering Book Image" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Engineering</h5>
                    <p class="card-text">Discover the world of Engineering</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            View Stream Wise Book
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'COMP' %}">Computer Science</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'Textile' %}">Textile</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'Civil' %}">Civil</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'Electrical' %}">Electrical</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 h-100">
                <img src="\static\Medical\medical.jpg" class="card-img-top" alt="Medical Book Image"
                    style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Medical Books</h5>
                    <p class="card-text">Explore the wonders of Medicine!</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            View Stream Wise Book
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'MBBS' %}">MBBS</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'Pharmacy' %}">Pharmacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 h-100">
                <img src="static/Law/justice.jpg" class="card-img-top" alt="Law Book Image" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Law Books</h5>
                    <p class="card-text">Unravel the mysteries of the law!</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            View Stream Wise Book
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'LLB' %}">LLB</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'MOL' %}">Master of Law</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 h-100">
                <img src="static/Commerce/billie-dollar-money-background.jpg" class="card-img-top"
                    alt="Commerce Book Image" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Commerce Books</h5>
                    <p class="card-text">Discover your true business potential!</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            View Stream Wise Book
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'Bcom' %}">B.Com</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'Mcom' %}">M.Com</a></li>
                            <li><a class="dropdown-item" href="{% url 'books_by_category' 'CA' %}">Chartered Accountant</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}